.breadcrumb {
    background-color: #f8f9fa; /* Light gray background */
    padding: 10px 15px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
  }
  
    .breadcrumb-item a:hover {
      text-decoration: underline;
    }
  
  .search-bar {
    margin: 20px 0;
  }
  
  .form-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
    .form-group label {
      min-width: 100px; /* Fixed width for label */
      margin-right: 10px; /* Space between label and input */
    }
  
    .form-group input,
    .form-group select,
    .form-group textarea {
      flex: 1; /* Input stretches to fill remaining space */
    }
  .form-select {
    font-size: 1.5rem;
  }
  .form-label {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .form-control {
    font-size: 1.5rem;
  }
  .breadcrumb-bar {
    background-color: #f8f9fa;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .breadcrumb {
    background-color: unset;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0;
  }

  select option[disabled] {
    color: gray;
    font-style: italic;
  }

  /* Make the container scrollable both horizontally and vertically */
/* Make the container scrollable both horizontally and vertically */
.scroll-container {
  max-width: 100%;    /* Adjust the width as needed */
  max-height: 300px;  /* Set the max height for the container */
  overflow: auto;     /* Enables both horizontal and vertical scrolling */
  white-space: nowrap; /* Prevent images from wrapping to the next line */
}

/* Optional: Apply max width and height for images */
.scroll-container img {
  max-width: none;    /* Allow the image to exceed its container's width */
  max-height: 100%;
  object-fit: contain; /* Ensures the image is contained within the specified max height */
}
.resume-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Optional: Adjust the iframe or other elements as needed */
.scroll-container iframe {
  object-fit: contain;  /* Ensures the content fits within the iframe */
}

.width-180 {
  max-width: 190px !important;
  width: 100%;
}
