<div class="mt-4">
  <div class="header">
    <h3 class="mb-4">Verify {{applicantData.name}}</h3>
  </div>
  <div class="form-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="verifyEmployeeForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="inputZone" class="form-label width-180">Zone</label>
            <label class="form-label">{{applicantData.zoneName}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputDesignation" class="form-label width-180">Designation</label>
            <label class="form-label">{{applicantData.designationName}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputName" class="form-label width-180">Name</label>
            <label class="form-label">{{applicantData.name}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputGender" class="form-label width-180">Gender</label>
            <label class="form-label">{{applicantData.gender}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputDOB" class="form-label width-180">Date of birth</label>
            <label class="form-label">{{applicantData.dateOfBirth | date:'dd-MM-yyyy'}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputAge" class="form-label width-180">Age</label>
            <label class="form-label">{{ getFormattedAge() }}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputEmail" class="form-label width-180">Email</label>
            <label class="form-label">{{applicantData.emailAddress}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputPermanentAddress" class="form-label width-180">Permanent Address</label>
            <label class="form-label">{{applicantData.permanentAddress +'- '+ applicantData.pinCode}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputAadharNo" class="form-label width-180">Aadhar No</label>
            <input type="text" class="form-control" formControlName="adharNo" />
          </div>
          <div class="form-group mb-3 d-block">
            <label for="inputAdharFile" class="form-label width-180 mt-3">Aadhar Image</label>
            <div class="scroll-container">
              <ng-container *ngIf="isImage(applicantData.adharpath); else pdfTemplate4">
                <img [src]="applicantData.adharpath" alt="Aadhar Document" class="img-fluid" style="width: 550px;">
              </ng-container>
              <ng-template #pdfTemplate4>
                <embed [src]="safeadharpathUrl" type="application/pdf" width="100%" height="600px">
              </ng-template>
            </div>
          </div>
          <div style="margin-top: 4rem;"></div>
          <div class="form-group mb-3">
            <label for="inputPanNo" class="form-label width-180">PAN No</label>
            <input type="text" class="form-control" formControlName="panNo" />
          </div>
          <div class="form-group mb-3 d-block">
            <label for="inputPanFile" class="form-label width-180 mt-3">PAN Image</label>
            <div class="scroll-container">
              <ng-container *ngIf="isImage(applicantData.pancardpath); else pdfTemplate3">
                <img [src]="applicantData.pancardpath" alt="Pan Document" class="img-fluid" style="width: 550px;">
              </ng-container>
              <ng-template #pdfTemplate3>
                <embed [src]="safepancardpathUrl" type="application/pdf" width="100%" height="600px">
              </ng-template>
            </div>
          </div>
          <div class="form-group mb-3 d-block" *ngIf="safeQualificationUrl">
            <label for="inputQualification" class="form-label width-180 mt-3">Qualification</label>
            <div class="scroll-container" style="width: 550px; height: 290px">
              <embed [src]="safeQualificationUrl" type="application/pdf" width="100%" height="100%">
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="inputBankName" id="labelBankName" class="form-label width-180">
              {{labels.labelBankName}}
              Company Name
            </label>
            <div class="col-md">
              <select class="form-select" id="inputCompanyName" formControlName="companyId" required>
                <option value="0" disabled selected>Select Company Name</option>
                <option *ngFor="let company of Company" [value]="company.company_Id">{{ company.companyName }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="inputSubDivision" class="form-label width-180">Sub Division</label>
            <label class="form-label">{{applicantData.revenueTown}}</label>
          </div>
          <div class="form-group mb-3" style="margin-top: 4rem;">
            <label for="inputFName" class="form-label width-180">Father Name</label>
            <label class="form-label">{{applicantData.fatherName}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputMaritalStatus" class="form-label width-180">Martial Status</label>
            <label class="form-label">{{applicantData.maritalStatus}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputMobileNo" class="form-label width-180">Mobile No.</label>
            <label class="form-label">{{applicantData.mobileNo}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputFatherMobileNo" class="form-label width-180">Father Mobile No.</label>
            <label class="form-label">{{applicantData.fatherMobileNo}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputUANNo" class="form-label width-180">UAN NO</label>
            <label class="form-label">{{applicantData.uanNo}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputCorrespondenceAddress" class="form-label width-180">Correspondence Address</label>
            <label class="form-label">{{applicantData.cAddress +'- '+applicantData.cPinCode}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputESINo" class="form-label width-180">ESI NO</label>
            <label class="form-label">{{applicantData.esiNo}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputMRID" class="form-label width-180">MRID</label>
            <label class="form-label">{{applicantData.mrid}}</label>
          </div>
          <div class="form-group mb-3">
            <label for="inputBankName" id="labelBankName" class="form-label width-180">
              {{labels.labelBankName}}
              Bank Name
            </label>
            <div class="col-md">
              <select class="form-select" id="inputBankName" formControlName="bankId" required>
                <option value="" disabled selected>Select Bank Name</option>
                <option *ngFor="let bank of banks" [value]="bank.id">{{ bank.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="inputBankAccountNo" class="form-label width-180">Bank A/c No</label>
            <input type="text" class="form-control" formControlName="bankAccountNo" />
          </div>
          <div class="form-group mb-3">
            <label for="inputIFSCCode" class="form-label width-180">IFSC Code</label>
            <input type="text" class="form-control" formControlName="ifscCode" />
          </div>

          <div class="form-group mb-3 d-block">
            <label for="inputBankStatementFile" class="form-label width-180 mt-3">Bank Image</label>
            <div class="scroll-container">
              <ng-container *ngIf="isImage(applicantData.bankDocumentpath); else pdfTemplate1">
                <img [src]="applicantData.bankDocumentpath" alt="Bank Document" class="img-fluid" style="width: 550px;">
              </ng-container>
              <ng-template #pdfTemplate1>
                <embed [src]="safebankDocumentpathUrl" type="application/pdf" width="100%" height="600px">
              </ng-template>
            </div>
          </div>
          <div class="form-group mb-3 d-block">
            <label for="inputPassportPhoto" class="form-label width-180 mt-3">Photo</label>
            <div class="scroll-container">
              <ng-container *ngIf="isImage(applicantData.passportPhotopath); else pdfTemplate2">
                <img [src]="applicantData.passportPhotopath" alt="Bank Document" class="img-fluid" style="width: 550px;">
              </ng-container>
              <ng-template #pdfTemplate2>
                <embed [src]="safepassportPhotopathUrl" type="application/pdf" width="100%" height="600px">
              </ng-template>
            </div>

            <div class="form-group mb-3 d-block">
              <label for="inputResume" class="form-label width-180 mt-2">Resume</label>
              <div class="scroll-container" style="width: 550px; height: 230px">
                <embed [src]="safeResumeUrl" type="application/pdf" width="100%" height="100%" *ngIf="safeResumeUrl">
              </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="inputremark" class="form-label width-180">Remark</label>
            <textarea type="text" class="form-control" formControlName="remark" rows="1"></textarea>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="d-flex justify-content-between">
          <div class="col-md-6 text-end">
            <button class="btn btn-success" type="button" [disabled]="verifyEmployeeForm.invalid" (click)="onVerify()">Verified/Hired</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-danger" type="button" [disabled]="verifyEmployeeForm.get('remark')?.invalid" (click)="onRejectNext()">Reject/Next</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
