<section class="bg-blue">
  <div class="container">
    <div class="row">
      <div class="add-a-job-box">
        <div class="d-flex justify-content-center align-items-center">
          <div class="switch">
            <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" [(ngModel)]="language" (change)="onLanguageChange()">
            <label for="language-toggle"></label>
            <span class="on">EN</span>
            <span class="off">HN</span>
          </div>
        </div>
        <h4 class="text-center">Apply For {{ position }}</h4><hr />

        <form [formGroup]="jobApplicationForm">
          <div *ngIf="currentStep === 1">
            <h4 class="text-center">{{labels.labelPersonal}}</h4>
            <!-- Sub Division -->
            <div class="mb-3 row">
              <label for="inputDivision" id="labelDivision" class="col-sm-2 col-form-label">{{labels.labelDivision}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <select formControlName="revenueId" class="form-select" required>
                  <option value="0" disabled>Select a Division</option>
                  <option *ngFor="let sd of subDivisions" [value]="sd.id">{{ sd.name }}</option>
                </select>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputName" id="labelName" class="col-sm-2 col-form-label">{{labels.labelName}} <br>(as per aadhar)<span class="text-danger">*</span></label>
              <div class="col-sm-3 width-27">
                <input type="text" formControlName="fName" class="form-control" placeholder="First Name" required>
                <span class="text-danger" *ngIf="f['fName'].invalid && f['fName'].touched">First Name is required</span>
              </div>
              <div class="col-sm-3 width-27">
                <input type="text" formControlName="mName" class="form-control" placeholder="Middle Name">
              </div>
              <div class="col-sm-3 width-27">
                <input type="text" formControlName="lName" class="form-control" placeholder="Last Name" required>
                <span class="text-danger" *ngIf="f['lName'].invalid && f['lName'].touched">Last Name is required</span>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputFatherName" id="labelFatherName" class="col-sm-2 col-form-label">{{labels.labelFatherName}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" formControlName="fatherName" class="form-control" placeholder="Enter FatherName" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputFatherMobileNo" id="labelFatherMobileNo" class="col-sm-2 col-form-label">
                {{labels.labelFatherMobileNo}}<span class="text-danger">*</span>
              </label>
              <div class="col-sm-10">
                <input type="tel" class="form-control" id="inputFatherMobileNo" formControlName="fatherMobileNo" placeholder="Enter father mobile" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputNationality" id="labelNationality" class="col-sm-2 col-form-label">{{labels.labelNationality}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" formControlName="nationality" class="form-control" placeholder="Enter your nationality" required>
                <span class="text-danger" *ngIf="f['nationality'].invalid && f['nationality'].touched">Nationality is required</span>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="dateOfBirth" id="labelDOB" class="col-sm-2 col-form-label">{{labels.labelDOB}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <div class="input-group" style="display: flex">
                  <input type="text" style="width:auto"
                         class="form-control"
                         id="dateOfBirth"
                         formControlName="dateOfBirth"
                         name="dateOfBirth"
                         placeholder="dd/mm/yyyy"
                         required />
                  <span class="input-group-text">
                    <!-- <i class="entypo-calendar"></i> -->
                    <span class="material-icons" style="font-size: 17px;">calendar_today</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputGender" id="labelGender" class="col-sm-2 col-form-label">{{labels.labelGender}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <select formControlName="gender" class="form-select" required>
                  <option value="">Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputMaritalStatus" id="labelMaritalStatus" class="col-sm-2 col-form-label">
                {{labels.labelMaritalStatus}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10">
                <select formControlName="maritalStatus" class="form-select" required>
                  <option value="">Select Marital Status</option>
                  <option value="single">Single</option>
                  <option value="married">Married</option>
                </select>
                <div *ngIf="f['maritalStatus'].invalid && f['maritalStatus'].touched" class="text-danger">
                  Marital status is required.
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputEmail" id="labelEmail" class="col-sm-2 col-form-label">{{labels.labelEmail}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="email" formControlName="emailAddress" class="form-control" placeholder="Enter your email address" required>
                <span class="text-danger" *ngIf="f['emailAddress'].invalid && f['emailAddress'].touched">email is required</span>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputMobileNo" id="labelMobileNo" class="col-sm-2 col-form-label">
                {{labels.labelMobileNo}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10">
                <input type="tel" class="form-control" id="inputMobileNo" formControlName="mobileNo" placeholder="Enter your mobile number" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputVehicalType" id="labelVehicalType" class="col-sm-2 col-form-label">
                {{labels.labelVehicalType}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10 pt-1">
                <div class="form-check form-check-inline">
                  <input type="radio" name="vehicleType" id="inputVehicalTypeTwo" formControlName="vehicleType" value="Two Wheeler" class="form-check-input" required />
                  <label class="form-check-label" for="inputVehicalTypeTwo">Two Wheeler</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" name="vehicleType" id="inputVehicalTypeFour" formControlName="vehicleType" value="Four Wheeler" class="form-check-input" required />
                  <label class="form-check-label" for="inputVehicalTypeFour">Four Wheeler</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" name="vehicleType" id="inputVehicalTypeNo" formControlName="vehicleType" value="NO" class="form-check-input" required />
                  <label class="form-check-label" for="inputVehicalTypeNo">No</label>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputDrivingLicenceNo" id="labelDrivingLicenceNo" class="col-sm-2 col-form-label">{{labels.labelDrivingLicenceNo}}</label>
              <div class="col-sm-10">
                <input type="text" formControlName="drivingLicenseNo" class="form-control" placeholder="Enter Driving Licence No">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputuploadPhoto" id="labelFacePhoto" class="col-sm-2 col-form-label">{{labels.labelFacePhoto}}</label>
              <div class="col-sm-10">
                <input type="file" formControlName="Photofile" class="form-control" placeholder="Upload your Photo" accept=".jpg,.jpeg,.png" (change)="onFileChange($event, 'Photofile')">
                <div *ngIf="f['Photofile'].invalid && f['Photofile'].touched" class="text-danger">
                  Photo is required.
                </div>
                <img [src]="employeeData.passportPhotoFilePath" *ngIf="employeeData.passportPhotoFilePath" alt="Preview" style="max-width: 150px; height: auto; padding-top: 10px;" />
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-sm-12 text-center">
                <button class="submit_btn" type="button" (click)="onSubmitCurrentForm()">{{labels.labelNext}}</button>
              </div>
            </div>
          </div>
        </form>
        <form [formGroup]="itSkillForm">
          <div *ngIf="currentStep === 2">
            <h4 class="text-center">{{labels.labelITSkill}}</h4>
            <!-- <hr /> -->
            <div formArrayName="skills">
              <div *ngFor="let skill of skills.controls; let i = index"
                   [formGroupName]="i"
                   class="skill-tab">
                <div class="mb-3 mt-2 row">
                  <label for="inputName" id="labelKeySkills" class="col-sm-2 col-form-label">{{labels.labelKeySkills}}<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="skillName" class="form-control" placeholder="Skill / software name" required (keypress)="preventDot($event)">
                  </div>
                </div>
                <div class="mb-3 mt-2 row">
                  <label for="inputName" id="labelsoftwareVerson" class="col-sm-2 col-form-label">{{labels.labelSoftwareVersion}}<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="softwareVerson" class="form-control" placeholder="Software version" required>
                  </div>
                </div>
                <div class="mb-3 mt-2 row">
                  <label for="inputLastUsed" id="labelLastUsed" class="col-sm-2 col-form-label">{{labels.labelLastUsed}}<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputLastUsed" formControlName="lastUsed" placeholder="Last used" maxlength="4">
                    <div *ngIf="skill.get('lastUsed')?.invalid && skill.get('lastUsed')?.touched" class="text-danger">
                      Year must have 4 digits.
                    </div>
                  </div>
                </div>
                <div class="mb-3 mt-2 row">
                  <label for="inputExperience" id="labelExperience" class="col-sm-2 col-form-label">{{labels.labelExperience}}<span class="text-danger">*</span></label>
                  <div class="col-sm-5">
                    <input type="number" formControlName="experienceYear" class="form-control" placeholder="Years" required>
                  </div>
                  <div class="col-sm-5">
                    <input type="number" formControlName="experienceMonth" class="form-control" placeholder="Months" required>
                  </div>
                </div>
                <div class="text-end">
                  <div class="d-inline-block me-2">
                    <a type="button" (click)="addSkillsTab(i)" *ngIf="i === skills.length - 1">
                      <span class="material-icons" style="font-size: 17px;">add_circle</span>
                    </a>
                  </div>
                  <div class="d-inline-block">
                    <a *ngIf="i > 0" type="button" (click)="removeSkillsTab(i)">
                      <span class="material-icons" style="font-size: 17px;">delete</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="mb-3 row" style="margin-top: 1rem;">
      <label for="inputResume" class="col-sm-2 col-form-label">{{ labels.labelResume }} <span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <input type="file" class="form-control" [formControlName]="'resumeFile'" accept=".pdf,.jpg,.jpeg,.png" (change)="onFileChange($event, 'resumeFile')">-->
            <!-- <div *ngIf="f['resumeFile'].invalid && f['resumeFile'].touched" class="text-danger">
        This file input is required.
      </div> -->
            <!--</div>
      </div>-->
            <!-- <hr /> -->
            <div class="mb-3 row">
              <div class="col-sm-12 text-center">
                <button class="submit_btn" (click)="goToPrevious()">{{labels.labelPrevious}}</button>
                <button class="submit_btn" (click)="onSubmitCurrentForm()">{{labels.labelNext}}</button>
              </div>
            </div>
          </div>
        </form>
        <form [formGroup]="addressForm">
          <div *ngIf="currentStep === 3">
            <h4 class="text-center">{{labels.labelAddress}}</h4>
            <!-- Permanent Address -->
            <div class="mb-3 row">
              <label for="inputPermanentAddress" id="labelPermanentAddress" class="col-sm-2 col-form-label">{{labels.labelPermanentAddress}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <textarea formControlName="permanentAddress" class="form-control" placeholder="Enter your permanent address" required></textarea>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputPermanentPincode" id="labelPincode" class="col-sm-2 col-form-label">{{labels.labelPincode}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPermanentPincode" formControlName="pinCode" placeholder="Enter pincode" maxlength="6" minlength="6" pattern="[0-9]{6}" required>

              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputPermanentState" class="col-sm-2 col-form-label" id="labelState">{{labels.labelState}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <select class="form-select" id="inputPermanentState" formControlName="stateId" (change)="onStateChange($event, 'permanent')" required>
                  <option value="" disabled>Select State</option>
                  <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
                </select>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputPermanentDistrict" class="col-sm-2 col-form-label" id="labelDistrict">{{labels.labelDistrict}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <select class="form-select" id="inputPermanentDistrict" formControlName="districtId" required>
                  <option value="0" selected disabled>Select District</option>
                  <option *ngFor="let district of districtsForState" [value]="district.id">{{ district.name }}</option>
                </select>
              </div>
            </div>

            <div class="mb-3 row">
              <div class="col-sm-10 offset-sm-2">
                <input type="checkbox"
                       id="copyAddress"
                       formControlName="copyAddress"
                       (change)="onCopyAddressChange($event)" />
                <label for="copyAddress" id="labelcopyAddress">{{labels.labelcopyAddress}}</label>
              </div>
            </div>

            <!-- Correspondence Address Fields -->
            <div class="mb-3 row">
              <label for="inputCorrespondenceAddress" id="labelCorrespondenceAddress" class="col-sm-2 col-form-label">{{labels.labelCorrespondenceAddress}}</label>
              <div class="col-sm-10">
                <textarea type="text" id="inputCorrespondenceAddress" class="form-control" formControlName="correspondenceAddress" placeholder="Enter your correspondence address"></textarea>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputCorrespondencePincode" id="labelCPinCode" class="col-sm-2 col-form-label">{{labels.labelCPinCode}}</label>
              <div class="col-sm-10">
                <input type="text" id="inputCorrespondencePincode" class="form-control" formControlName="cPinCode" placeholder="Enter pincode" />
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputCorrespondenceState" id="labelCStateId" class="col-sm-2 col-form-label">{{labels.labelCStateId}}</label>
              <div class="col-sm-10">
                <select class="form-select" id="inputCorrespondenceState" formControlName="cStateId" (change)="onStateChange($event, 'correspondence')" required>
                  <option value="0" disabled>Select State</option>
                  <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
                </select>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputCorrespondenceDistrict" id="labelCDistrict" class="col-sm-2 col-form-label">{{labels.labelCDistrict}}</label>
              <div class="col-sm-10">
                <select class="form-select" id="inputCorrespondenceDistrict" formControlName="cDistrictId" required>
                  <option value="0" selected disabled>Select District</option>
                  <option *ngFor="let district of districtsForCorrespondenceState" [value]="district.id">{{ district.name }}</option>
                </select>
              </div>
            </div>

            <!-- <hr /> -->
            <div class="mb-3 row">
              <div class="col-sm-12 text-center">
                <button class="submit_btn" (click)="goToPrevious()">{{labels.labelPrevious}}</button>
                <button class="submit_btn" (click)="onSubmitCurrentForm()">{{labels.labelNext}}</button>
              </div>
            </div>

          </div>
        </form>
        <form [formGroup]="healthDetailsForm">
          <div *ngIf="currentStep === 4">
            <h4 class="text-center">{{labels.labelHealth}}</h4>

            <div class="mb-3 row">
              <label for="inputVision" id="labelVision" class="col-sm-2 col-form-label">
                {{labels.labelVision}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10 pt-1">
                <div class="form-check form-check-inline">
                  <input type="radio" name="vision" id="InputVisionLeft" formControlName="vision" value="Left" class="form-check-input" required />
                  <label class="form-check-label" for="visionLeft">Left</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" name="vision" id="InputVisionRight" formControlName="vision" value="Right" class="form-check-input" required />
                  <label class="form-check-label" for="visionRight">Right</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" name="vision" id="InputVisionNo" formControlName="vision" value="No" class="form-check-input" required />
                  <label class="form-check-label" for="visionNo">No</label>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputDiabetes" id="labelDiabetes" class="col-sm-2 col-form-label">
                {{labels.labelDiabetes}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10 pt-1">
                <div class="form-check form-check-inline">
                  <input type="radio" name="diabetes" id="InputDiabetesYes" formControlName="diabetes" value="Yes" class="form-check-input" required />
                  <label class="form-check-label" for="diabetesYes">YES</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" name="diabetes" id="InputDiabetesNo" formControlName="diabetes" value="No" class="form-check-input" required />
                  <label class="form-check-label" for="diabetesNo">NO</label>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputBloodPressure" id="labelBloodPressure" class="col-sm-2 col-form-label">
                {{labels.labelBloodPressure}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10 pt-1">
                <div class="form-check form-check-inline">
                  <input type="radio" name="bloodPressure" id="InputBloodPressureYes" formControlName="bloodPressure" value="Yes" class="form-check-input" required />
                  <label class="form-check-label" for="visionYes">YES</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" name="bloodPressure" id="InputBloodPressureNo" formControlName="bloodPressure" value="No" class="form-check-input" required />
                  <label class="form-check-label" for="visionNo">NO</label>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputHeartAliments" id="labelHeartAliments" class="col-sm-2 col-form-label">
                {{labels.labelHeartAliments}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10 pt-1">
                <div class="form-check form-check-inline">
                  <input type="radio" name="heartAilments" id="InputHeartAlimentsYes" formControlName="heartAilments" value="Yes" class="form-check-input" required />
                  <label class="form-check-label" for="visionYes">YES</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="radio" name="heartAilments" id="InputHeartAlimentsNo" formControlName="heartAilments" value="No" class="form-check-input" required />
                  <label class="form-check-label" for="visionNo">NO</label>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputOtherIllness" id="labelOtherIllness" class="col-sm-2 col-form-label">
                {{labels.labelOtherIllness}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputOtherIllness" formControlName="anyOtherIllnes" placeholder="Enter details" required />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputLastMajorIllness" id="labelLastMajorIllness" class="col-sm-2 col-form-label">
                {{labels.labelLastMajorIllness}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputLastMajorIllness" formControlName="lastMajorIllness" placeholder="Enter details" required />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="lastMajorIllnessDate" id="labelLastMajorIllnessDate" class="col-sm-2 col-form-label">
                {{labels.labelLastMajorIllnessDate}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10">
                <div class="input-group" style="display: flex;">
                  <input type="text"
                         style="width:auto"
                         class="form-control"
                         id="majoreIllnessDate"
                         formControlName="majoreIllnessDate"
                         name="majoreIllnessDate"
                         placeholder="dd/mm/yyyy"
                         required />
                  <span class="input-group-text">
                    <span class="material-icons" style="font-size: 17px;">calendar_today</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputBloodGroup" id="labelBloodGroup" class="col-sm-2 col-form-label">
                {{labels.labelBloodGroup}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputBloodGroup" formControlName="bloodGroop" placeholder="Enter blood group" required />
              </div>
            </div>

            <!-- <hr /> -->
            <div class="mb-3 row">
              <div class="col-sm-12 text-center">
                <button class="submit_btn" (click)="goToPrevious()">{{labels.labelPrevious}}</button>
                <button class="submit_btn" (click)="onSubmitCurrentForm()">{{labels.labelNext}}</button>
              </div>
            </div>

          </div>
        </form>
        <form *ngIf="passportDetailsForm" [formGroup]="passportDetailsForm">
          <div *ngIf="currentStep === 5">
            <h4 class="text-center">Passport Details</h4>
            <div class="mb-3 row">
              <label for="passportNo" id="labelPassportNo" class="col-sm-2 col-form-label">
                {{labels.labelPassportNo}}
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassportNo" formControlName="passportNo" placeholder="Enter Passport Number" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="issueDate" id="labelIssuedDate" class="col-sm-2 col-form-label">
                {{labels.labelIssuedDate}}
              </label>
              <div class="col-sm-10">
                <div class="input-group" style="display: flex;">
                  <input type="text"
                         style="width:auto"
                         class="form-control"
                         id="dateOfIssue"
                         formControlName="dateOfIssue"
                         name="dateOfIssue"
                         placeholder="dd/mm/yyyy" />
                  <span class="input-group-text">
                    <span class="material-icons" style="font-size: 17px;">calendar_today</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="validUpto" id="labelValidUpto" class="col-sm-2 col-form-label">
                {{labels.labelValidUpto}}
              </label>
              <div class="col-sm-10">
                <div class="input-group" style="display: flex;">
                  <input type="text"
                         style="width:auto"
                         class="form-control"
                         id="validUpto"
                         formControlName="validUpto"
                         name="validUpto"
                         placeholder="dd/mm/yyyy" />
                  <span class="input-group-text">
                    <span class="material-icons" style="font-size: 17px;">calendar_today</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="issuedBy" id="labelIssuedBy" class="col-sm-2 col-form-label">
                {{labels.labelIssuedBy}}
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputIssuedBy" formControlName="issuedBy" placeholder="Enter Issued By" />
                </div>
            </div>
            <!--permanent address-->
            <div class="mb-3 row">
              <label for="inputPassportAddress" id="labelPassportAddress" class="col-sm-2 col-form-label">{{labels.labelPassportAddress}}</label>
              <div class="col-sm-10">
                <textarea formControlName="passAddress" class="form-control" placeholder="Enter your passport address"></textarea>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputCityName" id="labelCity" class="col-sm-2 col-form-label">
                {{labels.labelCity}}
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputCityName" formControlName="pCityName" placeholder="Enter City Name" />
                 </div>
            </div>
            <div class="mb-3 row">
              <label for="inputEmigrationCheck" id="labelEmigration" class="col-sm-2 col-form-label">
                {{labels.labelEmigration}}
              </label>
              <div class="col-sm-10">
                <select formControlName="emigrationChecReq" class="form-select" >
                  <option value="">Select Emigration Check</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
                <!-- <div *ngIf="f['emigrationCheck'].invalid && f['emigrationCheck'].touched" class="text-danger">
            Emigration Check is required.
          </div> -->
              </div>
            </div>
            <!-- <hr /> -->
            <div class="mb-3 row">
              <div class="col-sm-12 text-center">
                <button class="submit_btn" (click)="goToPrevious()">{{labels.labelPrevious}}</button>
                <button class="submit_btn" (click)="onSubmitCurrentForm()">{{labels.labelNext}}</button>
              </div>
            </div>

          </div>
        </form>
        <form [formGroup]="languageForm">
          <div *ngIf="currentStep === 6">
            <h4 class="text-center">{{labels.labelLanguageDetails}}</h4>
            <div formArrayName="languages">
              <table class="table table-borderless">
                <thead class="text-center">
                  <tr>
                    <th>{{labels.labelLanguage}}<span class="text-danger">*</span></th>
                    <th>{{labels.labelUnderstand}}</th>
                    <th>{{labels.labelRead}}</th>
                    <th>{{labels.labelWrite}}</th>
                    <th>{{labels.labelSpeak}}</th>
                    <th>{{labels.labelActions}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let language of languages.controls; let i = index" [formGroupName]="i">
                    <td>
                      <input type="text"
                             formControlName="languageName"
                             class="form-control"
                             placeholder="Enter Language" />
                      <span class="text-danger" *ngIf="language.get('languageName')?.hasError('required') && language.get('languageName')?.touched">
                        Language is required.
                      </span>
                    </td>
                    <td class="text-center">
                      <input type="checkbox" formControlName="understand" />
                    </td>
                    <td class="text-center">
                      <input type="checkbox" formControlName="read" />
                    </td>
                    <td class="text-center">
                      <input type="checkbox" formControlName="write" />
                    </td>
                    <td class="text-center">
                      <input type="checkbox" formControlName="speek" />
                    </td>
                    <td class="text-center">
                      <a type="button" (click)="addlanguageTab(i)" *ngIf="i === languages.length - 1">
                        <span class="material-icons" style="font-size: 17px;">add_circle</span>
                      </a>
                      <a *ngIf="i > 0" type="button" (click)="removelanguageTab(i)">
                        <span class="material-icons" style="font-size: 17px;">delete</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="mb-3 row">
              <div class="col-sm-12 text-center">
                <button class="submit_btn" (click)="goToPrevious()">{{labels.labelPrevious}}</button>
                <button class="submit_btn" (click)="onSubmitCurrentForm()">{{labels.labelNext}}</button>
              </div>
            </div>
          </div>
        </form>
        <form [formGroup]="QualificationForm">
          <div *ngIf="currentStep === 7">
            <h4 class="text-center">{{labels.labelQualificatonDetails}}</h4>
            <!-- <hr /> -->
            <div formArrayName="qualifications">
              <div *ngFor="let qualification of qualifications.controls; let i = index"
                   [formGroupName]="i"
                   class="qualification-tab">

                <div class="mb-3 row">
                  <label for="inputQualifications" id="labelQualifications" class="col-sm-2 col-form-label">{{labels.labelQualification}}<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <select formControlName="OrderNo" class="form-select" required>
                      <option value="">Select Qualifications</option>
                      <option value="3">Graduation</option>
                      <option value="4">Post Graduation</option>
                      <option value="5">Others</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputDegree" id="labelDegree" class="col-sm-2 col-form-label">{{labels.labelDegree}}<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="DegreeName" class="form-control" placeholder="Enter Degree" required>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputSubject" id="labelSubject" class="col-sm-2 col-form-label">{{labels.labelSubject}}<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="Specialization" class="form-control" placeholder="Enter specialization" required>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassingYear" id="labelPassingYear" class="col-sm-2 col-form-label">{{labels.labelPassingYear}}<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="PassingYear" class="form-control" placeholder="YYYY-YYYY" required>
                    <small class="text-danger" *ngIf="jobApplicationForm.controls['PassingYear']?.errors?.['required']">
                      Passing Year is required.
                    </small>
                    <small class="text-danger" *ngIf="jobApplicationForm.controls['PassingYear']?.errors?.['pattern']">
                      Invalid year range format. Use "YYYY-YYYY".
                    </small>
                  </div>
                </div>
                <div class="mb-3 row" style="margin-top: 1rem;">
                  <label for="inputUploadImage" class="col-sm-2 col-form-label">{{labels.labelUploadImage}}<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <input type="file" class="form-control" [formControlName]="'imageFile'" accept=".pdf" (change)="onFileChange($event, 'imageFile')">
                    <!-- <div *ngIf="f['imageFile'].invalid && f['imageFile'].touched" class="text-danger">
    This file input is required.
  </div> -->
                    <iframe *ngIf="qualification.get('imageFileUrl')?.value.endsWith('.pdf')"
                            [src]="qualification.get('safeImageFileUrl')?.value"
                            width="100%"
                            height="400px"
                            style="border: none;padding-top:10px;"></iframe>
                  </div>
                </div>
                <!-- Save and Delete Buttons -->
                <div class="text-end">
                  <div class="d-inline-block me-2">
                    <button type="button" class="btn btn-primary" (click)="saveQualification(i)" *ngIf="!savedTabs[i]" [disabled]="QualificationForm.invalid">
                      Save
                    </button>
                  </div>
                  <div class="d-inline-block" *ngIf="savedTabs[i]">
                    <button type="button" class="btn btn-danger" (click)="removeQualicationTab(i)">
                      Delete
                    </button>
                  </div>
                </div>
                <div class="text-end mt-3">
                  <div class="d-inline-block me-2">
                    <a type="button" (click)="addQualicationTab(i)" *ngIf="i === qualifications.length - 1">
                      <span class="material-icons" style="font-size: 17px;">add_circle</span>
                    </a>
                  </div>
                  <div class="d-inline-block">
                    <a *ngIf="i > 0" type="button" (click)="deleteQualicationTab(i)">
                      <span class="material-icons" style="font-size: 17px;">delete</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- <hr /> -->
            <div class="mb-3 row">
              <div class="col-sm-12 text-center">
                <button class="submit_btn" (click)="goToPrevious()">{{labels.labelPrevious}}</button>
                <button class="submit_btn" (click)="submitQualificationTab()">{{labels.labelNext}}</button>
              </div>
            </div>
          </div>
        </form>
        <form [formGroup]="experienceDetailForm">
          <div *ngIf="currentStep === 8">
            <h4 class="text-center">{{labels.labelExperienceDetails}}</h4>
            <!-- <hr /> -->
            <div formArrayName="experiences">
              <div *ngFor="let experience of experiences.controls; let i = index"
                   [formGroupName]="i"
                   class="experience-tab">
                <div class="mb-3 row">
                  <label for="company" class="col-sm-2 col-form-label">{{labels.labelCompany}}<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="companyName" class="form-control" placeholder="Company Name" />
                    <span class="text-danger" *ngIf="experience.get('companyName')?.hasError('required') && experience.get('companyName')?.touched">
                      Company name is required.
                    </span>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="position" class="col-sm-2 col-form-label">{{labels.labelPosition}}<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="position" class="form-control" placeholder="Job Position" />
                    <span class="text-danger" *ngIf="experience.get('position')?.hasError('required') && experience.get('position')?.touched">
                      Position is required.
                    </span>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="currentCompany{{i}}" class="col-sm-2 col-form-label">
                  </label>
                  <div class="col-sm-10">
                    <input type="checkbox"
                           id="currentCompany{{i}}"
                           formControlName="currentlyWorking"
                           (change)="toggleEndDate(i)" />
                    <label for="currentCompany{{i}}">{{labels.labelCurrentlyWorking}}</label>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="startDate{{i}}" id="labelFromDate" class="col-sm-2 col-form-label">{{labels.labelFromDate}}<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <div class="input-group" style="display: flex">
                      <input type="text"
                             style="width:auto"
                             class="form-control"
                             id="startDate{{i}}"
                             formControlName="startDate"
                             name="startDate"
                             placeholder="dd/mm/yyyy"
                             required />
                      <span class="input-group-text">
                        <span class="material-icons" style="font-size: 17px;">calendar_today</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="endDate{{i}}" id="labelToDate" class="col-sm-2 col-form-label">{{labels.labelToDate}}<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <div class="input-group" style="display: flex">
                      <input type="text"
                             style="width:auto"
                             class="form-control"
                             id="endDate{{i}}"
                             formControlName="endDate"
                             name="endDate"
                             placeholder="dd/mm/yyyy"
                             [disabled]="experience.get('currentlyWorking')?.value"
                             required />
                      <span class="input-group-text">
                        <span class="material-icons" style="font-size: 17px;">calendar_today</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputHodName" id="labelHodName" class="col-sm-2 col-form-label">{{labels.labelHodName}}</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="hodName" class="form-control" placeholder="Enter HOD name">
                    <!-- <span class="text-danger" *ngIf="f['hodName'].invalid && f['hodName'].touched">Name is required</span> -->
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputHodEmail" id="labelHodEmail" class="col-sm-2 col-form-label">{{labels.labelHodEmail}}</label>
                  <div class="col-sm-10">
                    <input type="email" formControlName="hodEmail" class="form-control" placeholder="Enter HOD email address">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputHodMobileNo" id="labelHodMobileNo" class="col-sm-2 col-form-label">
                    {{labels.labelHodMobileNo}}
                  </label>
                  <div class="col-sm-10">
                    <input type="tel" class="form-control" id="inputHodMobileNo" formControlName="hodMobileNo" placeholder="Enter HOD mobile number" />
                  </div>
                </div>
                <div class="text-end">
                  <div class="d-inline-block me-2">
                    <a type="button" (click)="addTab(i)" *ngIf="i === experiences.length - 1">
                      <span class="material-icons" style="font-size: 17px;">add_circle</span>
                    </a>
                  </div>
                  <div class="d-inline-block">
                    <a *ngIf="i > 0" type="button" (click)="removeTab(i)">
                      <span class="material-icons" style="font-size: 17px;">delete</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- <hr /> -->
            <div class="mb-3 row">
              <div class="col-sm-12 text-center">
                <button class="submit_btn" (click)="goToPrevious()">{{labels.labelPrevious}}</button>
                <button type="button" (click)="onSubmitCurrentForm()" class="submit_btn">{{labels.labelNext}}</button>
              </div>
            </div>
          </div>
        </form>
        <form [formGroup]="socialForm">
          <div *ngIf="currentStep === 9">
            <h4 class="text-center">{{labels.labelSocial}}</h4>
            <div class="mb-3 row">
              <label for="FacebookId" id="labelFacebookId" class="col-sm-2 col-form-label">{{labels.labelFacebookId}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" formControlName="FacebookId" class="form-control" placeholder="Enter FacebookId" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="LinkdinId" id="labelLinkdinId" class="col-sm-2 col-form-label">{{labels.labelLinkdinId}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" formControlName="LinkdinId" class="form-control" placeholder="Enter LinkdinId" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="InstagramId" id="labelInstagramId" class="col-sm-2 col-form-label">{{labels.labelInstagramId}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" formControlName="InstagramId" class="form-control" placeholder="Enter InstagramId" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="TwiterId" id="labelTwiterId" class="col-sm-2 col-form-label">{{labels.labelTwiterId}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" formControlName="TwiterId" class="form-control" placeholder="Enter TwiterId" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="Resumefile" id="labelResumefile" class="col-sm-2 col-form-label">{{labels.labelResumefile}}</label>
              <div class="col-sm-10">
                <input type="file" formControlName="Resumefile" class="form-control" placeholder="Upload your Resume" accept=".pdf" (change)="onFileChange($event, 'Resumefile')">
                <div *ngIf="socialForm.get('Resumefile')?.touched && socialForm.get('Resumefile')?.hasError('required')" class="text-danger">
                  Resume file is required.
                </div>
                <iframe *ngIf="safeResumeUrl" [src]="safeResumeUrl" type="application/pdf" style="width: 100%; height: 500px; padding-top: 10px;"></iframe>
              </div>
            </div>
            <div *ngIf="socialForm.get('FacebookId')?.touched && socialForm.get('LinkdinId')?.touched && socialForm.get('InstagramId')?.touched && socialForm.get('TwiterId')?.touched && !isFormValid" class="text-danger">
              At least one social media ID is required.
            </div>
            <div class="mb-3 row">
              <div class="col-sm-12 text-center">
                <button class="submit_btn" (click)="goToPrevious()">{{labels.labelPrevious}}</button>
                <button type="button" (click)="onSubmitCurrentForm()" class="submit_btn">
                  {{labels.labelSubmit}}
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
