<section class="bg-blue">
  <div class="container">
    <div class="row">
      <div class="add-a-job-box">
        <h2 class="text-center">Verify Your Whatsapp OTP</h2>
        <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
          <div class="mb-3 row">
            <div class="col-sm-12">
              <input type="text"
                     class="form-control"
                     id="inputOTP"
                     formControlName="otp"
                     placeholder="Enter your OTP"
                     maxlength="6" />
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-12 text-center">
              <button type="button" class="submit_btn" (click)="onResendOTP()">
                Resend OTP
              </button>
              <button type="submit" class="submit_btn" [disabled]="otpForm.invalid">
                Verify OTP
              </button>
            </div>
          </div>
        </form>
        <p *ngIf="message" class="text-danger">{{ message }}</p>
      </div>
    </div>
  </div>
</section>

