<hr />
<div class="header">
  <h2>Add Job</h2>
</div>
<br />
<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="panel panel-primary" data-collapsed="0">
      <div class="panel-body">
        <form [formGroup]="vacancyForm" (ngSubmit)="onSubmit()" class="form-horizontal form-groups-bordered">
          <input type="hidden" formControlName="vacancyId">
          <div class="form-group">
            <label for="field-1" class="col-sm-2 control-label label-large">Division</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="groupDivisionId" (change)="onDivisionChange($event)">
                <option value="" selected disabled>Select A Division</option>
                <option *ngFor="let item of GroupDivisionList" [value]="item.divisionId">{{ item.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="field-1" class="col-sm-2 control-label label-large">Position</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="designationId">
                <option value="" selected disabled>Select Your Designation</option>
                <option *ngFor="let item of DesignationList" [value]="item.designationId">{{ item.designationName }}</option>
              </select>
            </div>
          </div>
          <div class="form-group" *ngIf="LocationList.length>0">
            <label class="col-sm-2 control-label label-large">Location</label>
            <div class="col-sm-8">
              <div class="row">
                <div formArrayName="locations">
                  <div *ngFor="let location of LocationList; let i = index" class="checkbox col-sm-3">
                    <div [formGroupName]="i">
                      <label for="location-{{ i }}">
                        <input type="checkbox" formControlName="isChecked" id="location-{{ i }}" />
                        {{ location.location }}
                      </label>
                    </div>
                  </div>
                  <div *ngIf="locationsFormArray.invalid && locationsFormArray.touched" class="text-danger">Please select at least one location.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="field-1" class="col-sm-2 control-label label-large">Project Name</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="projectId">
                <option value="" selected disabled>Select Project Name</option>
                <option *ngFor="let item of ProjectList" [value]="item.projectId">{{ item.projectName }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="field-2" class="col-sm-2 control-label label-large">Experience</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" id="field-2" placeholder="From" formControlName="experienceFrom">
              <div *ngIf="vacancyForm.get('experienceFrom')?.invalid && vacancyForm.get('experienceFrom')?.touched" class="text-danger">
                Enter a valid experience.
              </div>
            </div>
            <div class="col-sm-4">
              <input type="number" class="form-control" id="field-2" placeholder="To" formControlName="experienceTo">
              <div *ngIf="vacancyForm.get('experienceTo')?.invalid && vacancyForm.get('experienceTo')?.touched" class="text-danger">
                Enter a valid experience.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="field-3" class="col-sm-2 control-label label-large">Qualification</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="field-3" placeholder="Qualification" formControlName="qualification">
              <div *ngIf="vacancyForm.get('qualification')?.invalid && vacancyForm.get('qualification')?.touched" class="text-danger">
                Enter a valid qualification.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="field-1" class="col-sm-2 control-label label-large">Status</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="statusId">
                <option value="1">Active</option>
                <option value="0">Expired</option>
              </select>
            </div>
          </div>
          <!-- <div class="form-group">
    <label for="field-2" class="col-sm-3 control-label">Disabled</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="field-2" placeholder="Placeholder" disabled="">
    </div>
  </div> -->
          <!-- <div class="form-group">
    <label for="field-3" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="field-3" placeholder="Placeholder (Password)">
    </div>
  </div> -->
          <!-- <div class="form-group">
    <label for="field-1" class="col-sm-3 control-label">File Field</label>
    <div class="col-sm-5">
      <input type="file" class="form-control" id="field-file" placeholder="Placeholder">
    </div>
  </div> -->
          <div class="form-group">
            <label for="field-ta" class="col-sm-2 control-label label-large">Job Description</label>
            <div class="col-sm-8">
              <!--<textarea class="form-control" id="field-ta" placeholder="Job Description" formControlName="jobDescription"></textarea>-->
              <textarea id="editor" placeholder="Job Description" formControlName="jobDescription"></textarea>
              <div *ngIf="vacancyForm.get('jobDescription')?.invalid && vacancyForm.get('jobDescription')?.touched" class="text-danger">
                Enter a valid jobDescription.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="field-ta" class="col-sm-2 control-label label-large">Key Skills</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="field-ta" placeholder="Key Skills" formControlName="keySkills"></textarea>
              <div *ngIf="vacancyForm.get('keySkills')?.invalid && vacancyForm.get('keySkills')?.touched" class="text-danger">
                Enter a valid keySkills.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label label-large">Date (From - To)</label>
            <div class="col-sm-4">
              <div class="input-group" style="display: flex">
                <input type="text" style="width:auto"
                       class="form-control"
                       id="datepicker"
                       formControlName="fromDate"
                       name="fromDate"
                       placeholder="dd/mm/yyyy"
                       required />
                <span class="input-group-text">
                  <i class="entypo-calendar"></i>
                </span>
                <div *ngIf="vacancyForm.get('fromDate')?.invalid && vacancyForm.get('fromDate')?.touched" class="text-danger">
                  Enter a valid fromDate.
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group" style="display: flex">
                <input type="text" style="width:auto"
                       class="form-control"
                       id="datepicker1"
                       formControlName="toDate"
                       name="toDate"
                       placeholder="dd/mm/yyyy"
                       required />
                <span class="input-group-text">
                  <i class="entypo-calendar"></i>
                </span>
                <div *ngIf="vacancyForm.get('toDate')?.invalid && vacancyForm.get('toDate')?.touched" class="text-danger">
                  Enter a valid toDate.
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="form-group">
    <label for="field-ta" class="col-sm-3 control-label">Autogrow</label>
    <div class="col-sm-5">
      <textarea class="form-control autogrow" id="field-ta" placeholder="I will grow as you type new lines." style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 48px;"></textarea>
    </div>
  </div> -->
          <!-- <div class="form-group has-error">
    <label for="field-4" class="col-sm-3 control-label">Error field</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="field-4" placeholder="Placeholder">
    </div>
  </div> -->
          <!-- <div class="form-group has-warning">
    <label for="field-5" class="col-sm-3 control-label">Warning field</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="field-5" placeholder="Placeholder">
    </div>
  </div> -->
          <!-- <div class="form-group has-success">
    <label for="field-6" class="col-sm-3 control-label">Success field</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="field-6" placeholder="Placeholder">
    </div>
  </div> -->
          <!-- <div class="form-group">
    <div class="col-sm-offset-3 col-sm-5">
      <div class="checkbox">
        <label>
          <input type="checkbox">Checkbox 1
        </label>
      </div> <div class="checkbox">
        <label>
          <input type="checkbox">Checkbox 2
        </label>
      </div>
    </div>
  </div> -->
          <!-- <div class="form-group">
    <div class="col-sm-offset-3 col-sm-5">
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Radio Input 1
        </label>
      </div> <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio Input 2
        </label>
      </div>
    </div>
  </div>  -->

          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-5">
              <button type="submit" class="btn btn-default label-large" [disabled]="vacancyForm.invalid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
