<section class="bg-blue">
  <div class="container">
    <div class="row">
      <div class="add-a-job-box">
        <div class="d-flex justify-content-center align-items-center">
          <div class="switch">
            <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" [(ngModel)]="language" (change)="onLanguageChange()">
            <label for="language-toggle"></label>
            <span class="on">EN</span>
            <span class="off">HN</span>
          </div>
        </div>
        <h5 class="text-center">{{ position }} | {{projectName}} | {{locationName}}</h5><hr />

        <form [formGroup]="jobApplicationForm">
          <div *ngIf="currentStep === 1">
            <h5 class="text-center">{{labels.labelPersonal}}</h5>
            <!-- Sub Division -->
            <div class="mb-3 row">
              <label for="inputDivision" id="labelDivision" class="col-sm-2 col-form-label">{{labels.labelDivision}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <select formControlName="revenueId" class="form-select" required>
                  <option [value]="0" disabled>Select a Division</option>
                  <option *ngFor="let sd of subDivisions" [value]="sd.id">{{ sd.name }}</option>
                </select>
              </div>
            </div>

            <!-- Name -->
            <div class="mb-3 row">
              <label for="inputName" id="labelName" class="col-sm-2 col-form-label">{{labels.labelName}}<br>(as per aadhar)<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" formControlName="name" class="form-control" placeholder="Enter your name" required>
                <span class="text-danger" *ngIf="f['name'].invalid && f['name'].touched">Name is required</span>
              </div>
            </div>

            <!-- Father Name -->
            <div class="mb-3 row">
              <label for="inputFName" id="labelFatherName" class="col-sm-2 col-form-label">{{labels.labelFatherName}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" formControlName="fatherName" class="form-control" placeholder="Enter your father's name" required>
              </div>
            </div>

            <!-- Date of Birth -->
            <div class="mb-3 row">
              <label for="datepicker" id="labelDOB" class="col-sm-2 col-form-label">{{labels.labelDOB}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <div class="input-group" style="display: flex">
                  <input type="text" style="width:auto"
                         class="form-control"
                         id="datepicker"
                         formControlName="dateOfBirth"
                         name="dateOfBirth"
                         placeholder="dd/mm/yyyy"
                         required />
                  <span class="input-group-text">
                    <i class="entypo-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
            <!-- Gender -->
            <div class="mb-3 row">
              <label for="inputGender" id="labelGender" class="col-sm-2 col-form-label">{{labels.labelGender}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <select formControlName="gender" class="form-select" required>
                  <option value="">Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputMaritalStatus" id="labelMaritalStatus" class="col-sm-2 col-form-label">
                {{labels.labelMaritalStatus}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10">
                <select formControlName="maritalStatus" class="form-select" required>
                  <option value="">Select Marital Status</option>
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                </select>
                <div *ngIf="f['maritalStatus'].invalid && f['maritalStatus'].touched" class="text-danger">
                  Marital status is required.
                </div>
              </div>
            </div>
            <!-- Email Address -->
            <div class="mb-3 row">
              <label for="inputEmail" id="labelEmail" class="col-sm-2 col-form-label">{{labels.labelEmail}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="email" formControlName="emailAddress" class="form-control" placeholder="Enter your email address" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputMobileNo" id="labelMobileNo" class="col-sm-2 col-form-label">
                {{labels.labelMobileNo}} <span class="text-danger">*</span>
              </label>
              <div class="col-sm-10">
                <input type="tel" class="form-control" id="inputMobileNo" formControlName="mobileNo" placeholder="Enter your mobile number" readonly />
              </div>
            </div>
            <!-- Permanent Address -->
            <div class="mb-3 row">
              <label for="inputPermanentAddress" id="labelPermanentAddress" class="col-sm-2 col-form-label">{{labels.labelPermanentAddress}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <textarea formControlName="permanentAddress" class="form-control" placeholder="Enter your permanent address" required></textarea>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputPermanentPincode" id="labelPincode" class="col-sm-2 col-form-label">{{labels.labelPincode}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPermanentPincode" formControlName="pinCode" placeholder="Enter pincode" maxlength="6" minlength="6" pattern="[0-9]{6}" required>

              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputPermanentState" class="col-sm-2 col-form-label" id="labelState">{{labels.labelState}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <select class="form-select" id="inputPermanentState" formControlName="stateId" (change)="onStateChange($event, 'permanent')" required>
                  <option value="" disabled>Select State</option>
                  <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
                </select>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputPermanentDistrict" class="col-sm-2 col-form-label" id="labelDistrict">{{labels.labelDistrict}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <select class="form-select" id="inputPermanentDistrict" formControlName="districtId" required>
                  <option value="0" selected disabled>Select District</option>
                  <option *ngFor="let district of districtsForState" [value]="district.id">{{ district.name }}</option>
                </select>
              </div>
            </div>

            <div class="mb-3 row">
              <div class="col-sm-10 offset-sm-2">
                <input type="checkbox"
                       id="copyAddress"
                       formControlName="copyAddress"
                       (change)="onCopyAddressChange($event)" />
                <label for="copyAddress" id="labelcopyAddress">{{labels.labelcopyAddress}}</label>
              </div>
            </div>

            <!-- Correspondence Address Fields -->
            <div class="mb-3 row">
              <label for="inputCorrespondenceAddress" id="labelCorrespondenceAddress" class="col-sm-2 col-form-label">{{labels.labelCorrespondenceAddress}}</label>
              <div class="col-sm-10">
                <textarea type="text" id="inputCorrespondenceAddress" class="form-control" formControlName="cAddress" placeholder="Enter your correspondence address"></textarea>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputCorrespondencePincode" id="labelCPinCode" class="col-sm-2 col-form-label">{{labels.labelCPinCode}}</label>
              <div class="col-sm-10">
                <input type="text" id="inputCorrespondencePincode" class="form-control" formControlName="cPinCode" placeholder="Enter pincode" />
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputCorrespondenceState" id="labelCStateId" class="col-sm-2 col-form-label">{{labels.labelCStateId}}</label>
              <div class="col-sm-10">
                <select class="form-select" id="inputCorrespondenceState" formControlName="cStateId" (change)="onStateChange($event, 'correspondence')" required>
                  <option value="0" disabled>Select State</option>
                  <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
                </select>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputCorrespondenceDistrict" id="labelCDistrict" class="col-sm-2 col-form-label">{{labels.labelCDistrict}}</label>
              <div class="col-sm-10">
                <select class="form-select" id="inputCorrespondenceDistrict" formControlName="cDistrictId" required>
                  <option value="0" selected disabled>Select District</option>
                  <option *ngFor="let district of districtsForCorrespondenceState" [value]="district.id">{{ district.name }}</option>
                </select>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputFatherMobileNo" id="labelFatherMobileNo" class="col-sm-2 col-form-label">{{labels.labelFatherMobileNo}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="tel" class="form-control" id="inputFatherMobileNo" formControlName="fatherMobileNo" placeholder="Enter father's mobile number" maxlength="10">
                <div *ngIf="f['fatherMobileNo'].invalid && f['fatherMobileNo'].touched" class="text-danger">
                  Please enter a valid 10-digit mobile number.
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-sm-12 text-center">
                <button class="submit_btn" (click)="onSubmitCurrentForm()">{{labels.labelNext}}</button>
              </div>
            </div>
          </div>
        </form>
        <form [formGroup]="BankDetailsForm">
          <div *ngIf="currentStep === 2">
            <h5 class="text-center">{{labels.labelBank}}</h5>
            <!-- UAN No -->
            <div class="mb-3 row">
              <label for="inputUANNo" id="labelUANNo" class="col-sm-2 col-form-label">{{labels.labelUANNo}}</label>
              <div class="col-sm-10">
                <input type="tel" class="form-control" id="inputUANNo" formControlName="uanNo" placeholder="Enter UAN number" maxlength="12">
                <div *ngIf="g['uanNo'].invalid && g['uanNo'].touched" class="text-danger">
                  Please enter a valid 12-digit UAN number.
                </div>
                <div *ngIf="g['uanNo'].hasError('pattern')">
                  Please enter a valid UAN (12 digits).
                </div>
              </div>
            </div>

            <!-- ESI No -->
            <div class="mb-3 row">
              <label for="inputESINo" id="labelESINo" class="col-sm-2 col-form-label">{{labels.labelESINo}}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputESINo" formControlName="esiNo" placeholder="Enter ESI number">
              </div>
            </div>

            <!-- PAN No -->
            <div class="mb-3 row">
              <label for="inputPanNo" id="labelPanNo" class="col-sm-2 col-form-label">{{labels.labelPanNo}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPanNo" formControlName="panNo" placeholder="Enter Pan number" />
                <div *ngIf="g['panNo'].invalid && g['panNo'].touched" class="text-danger">
                  PAN number is required.
                </div>
                <div *ngIf="g['panNo'].hasError('pattern')">
                  Please enter a valid PAN number (e.g., ABCDE1234F).
                </div>
              </div>
            </div>

            <!-- Bank Name -->
            <div class="mb-3 row">
              <label for="inputBankName" id="labelBankName" class="col-sm-2 col-form-label">{{labels.labelBankName}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <select class="form-select" id="inputBankName" formControlName="bankId" required>
                  <option value="0">Select Bank Name</option>
                  <option *ngFor="let bank of banks" [value]="bank.id">{{ bank.name }}</option>
                </select>
                <div *ngIf="g['bankId'].invalid && g['bankId'].touched" class="text-danger">
                  Bank Name is required.
                </div>
                
              </div>
            </div>

            <!-- Bank Account Number -->
            <div class="mb-3 row">
              <label for="inputBankAccountNo" id="labelBankAccountNo" class="col-sm-2 col-form-label">{{labels.labelBankAccountNo}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputBankAccountNo" formControlName="bankAccountNo" placeholder="Enter your bank account number" required>
                <div *ngIf="g['bankAccountNo'].invalid && g['bankAccountNo'].touched" class="text-danger">
                  Bank Account Number is required.
                </div>
                <div *ngIf="g['bankAccountNo'].hasError('pattern')">
                  Please enter a valid bank account number (9-18 digits).
                </div>
              </div>
            </div>

            <!-- IFSC Code -->
            <div class="mb-3 row">
              <label for="inputIFSCCode" id="labelIFSCCode" class="col-sm-2 col-form-label">{{labels.labelIFSCCode}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputIFSCCode" formControlName="ifscCode" placeholder="ABCD1234567" required maxlength="11">
                <div *ngIf="g['ifscCode'].invalid && g['ifscCode'].touched" class="text-danger">
                  Please enter a valid IFSC Code.
                </div>
                <div *ngIf="g['ifscCode'].hasError('pattern')" class="text-danger">
                  Please enter a valid IFSC code (11 digits).
                </div>
              </div>
            </div>

            <!-- Aadhar No -->
            <div class="mb-3 row">
              <label for="inputAdharNo" id="labelAdharNo" class="col-sm-2 col-form-label">{{labels.labelAdharNo}}<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="tel" class="form-control" id="inputAdharNo" formControlName="adharNo" placeholder="Enter your Aadhar number" maxlength="12">
                <div *ngIf="g['adharNo'].invalid && g['adharNo'].touched" class="text-danger">
                  Please enter a valid Aadhar Number.
                </div>
                <div *ngIf="g['adharNo'].hasError('pattern')">
                  Please enter a valid Aadhar number (12 digits).
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputMRID" class="col-sm-2 col-form-label" id="labelMRID">{{labels.labelMRID}}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputMRID" formControlName="mrid" placeholder="Enter your MRID">
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-sm-12 text-center">
                <button class="submit_btn" (click)="goToPrevious()">{{labels.labelPrevious}}</button>
                <button class="submit_btn" (click)="onSubmitCurrentForm()">{{labels.labelNext}}</button>
              </div>
            </div>
          </div>
        </form>
        <form [formGroup]="UploadFilesForm">
          <div *ngIf="currentStep === 3">
            <h5 class="text-center">{{labels.labelUploadFiles}}</h5>
            <!-- File Inputs (Adhar, Pan, Qualification, etc.) -->
            <div class="mb-3 row">
              <label for="inputAdharFile" class="col-sm-2 col-form-label">{{ labels.labelAdhar }} <span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="file" class="form-control" [formControlName]="'adharFile'" accept=".pdf,.jpg,.jpeg,.png" (change)="onFileChange($event,'adharFile')">
                <div *ngIf="h['adharFile'].invalid && h['adharFile'].touched" class="text-danger">
                  This file input is required.
                </div>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputPanFile" class="col-sm-2 col-form-label">{{ labels.labelPan }} <span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="file" class="form-control" [formControlName]="'panFile'" accept=".pdf,.jpg,.jpeg,.png" (change)="onFileChange($event,'panFile')">
                <div *ngIf="h['panFile'].invalid && h['panFile'].touched" class="text-danger">
                  This file input is required.
                </div>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputQualificationFile" class="col-sm-2 col-form-label">{{ labels.labelQualification }} <span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="file" class="form-control" [formControlName]="'qualificationFile'" accept=".pdf,.jpg,.jpeg,.png" (change)="onFileChange($event,'qualificationFile')">
                <div *ngIf="h['qualificationFile'].invalid && h['qualificationFile'].touched" class="text-danger">
                  This file input is required.
                </div>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="inputBankStatementFile" class="col-sm-2 col-form-label">{{ labels.labelBankStatement }} <span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="file" class="form-control" [formControlName]="'bankStatementFile'" accept=".pdf,.jpg,.jpeg,.png" (change)="onFileChange($event,'bankStatementFile')">
                <div *ngIf="h['bankStatementFile'].invalid && h['bankStatementFile'].touched" class="text-danger">
                  This file input is required.
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputResume" class="col-sm-2 col-form-label">{{ labels.labelResume }} <span class="text-danger" *ngIf="position === 'Superviser'">*</span></label>
              <div class="col-sm-10">
                <input type="file" class="form-control" [formControlName]="'resumeFile'" accept=".pdf,.jpg,.jpeg,.png" (change)="onFileChange($event, 'resumeFile')">
                <div *ngIf="h['resumeFile'].invalid && h['resumeFile'].touched" class="text-danger">
                  This file input is required.
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="inputPassportPhoto" class="col-sm-2 col-form-label">{{ labels.labelFacePhoto }} <span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="file" class="form-control" [formControlName]="'passportPhoto'" accept=".pdf,.jpg,.jpeg,.png" (change)="onFileChange($event, 'passportPhoto')">
                <div *ngIf="h['passportPhoto'].invalid && h['passportPhoto'].touched" class="text-danger">
                  This file input is required.
                </div>
              </div>
            </div>


            <!-- Terms and Conditions -->
            <div class="mb-3">
              <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="termsCheck" formControlName="termsCheck">
                <label class="form-check-label" for="termsCheck" id="labelterms">
                  I have read and agree to the <a href="javascript:void(0);" (click)="submitTermsForm()">Terms and Conditions</a>.
                </label>
                <div *ngIf="h['termsCheck'].invalid && h['termsCheck'].touched" class="text-danger">
                  You must agree to the terms and conditions.
                </div>
              </div>
            </div>
            <!-- Submit Button -->
            <div class="mb-3 row">
              <div class="col-sm-12 text-center">
                <button class="submit_btn" (click)="goToPrevious()">{{labels.labelPrevious}}</button>
                <button type="button" [disabled]="UploadFilesForm.invalid" (click)="onSubmitCurrentForm()" class="submit_btn">{{labels.labelSubmit}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
