<!-- <body> -->
<section class="bg-blue">
<div class="container">
    <h1 class="heading_apply_for_job text-center my-4">Apply For Software Engineer</h1>
   <!-- <form [formGroup]="jobApplicationForm"> -->
    <div class="form-section">
        <div class="form-section-without-bg">
            <!-- Personal Details Section -->
            <div class="form-title">
                <img src="assets\images\icons\clarity_employee_line.svg">
                Employee Personal Details
            </div>
            <div class="row g-3">
                <div class="col-md-4">
                    <label class="form-label">Full Name</label>
                    <div class="form-label-readonly">{{employeeData.name + ' ' + employeeData.mName+ ' ' + employeeData.lName}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Father's Name</label>
                    <div class="form-label-readonly">{{employeeData.fatherName}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Father's Mobile No</label>
                    <div class="form-label-readonly">{{employeeData.fatherMobileNo}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Nationality</label>
                    <div class="form-label-readonly">{{employeeData.nationality}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Date of Birth</label>
                    <div class="form-label-readonly">{{employeeData.dateOfBirth | date:'dd-MM-yyyy'}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Gender</label>
                    <div class="form-label-readonly">{{employeeData.gender}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Marital Status</label>
                    <div class="form-label-readonly">{{employeeData.maritalStatus}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Email Address</label>
                    <div class="form-label-readonly">{{employeeData.emailAddress}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Mobile No</label>
                    <div class="form-label-readonly">{{MobileNo}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Vehicle Type</label>
                    <div class="form-label-readonly">{{employeeData.vehicleType}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Driving Licence No</label>
                    <div class="form-label-readonly">{{employeeData.drivingLicenseNo}}</div>
                </div>
                <div class="col-md-4 avatar-upload">
                    <label class="form-label">Upload Face Photo</label>
                    <img src={{employeeData.passportPhotoFilePath}} alt="Avatar">
                </div>
            </div>
        </div>
        <!-- Skills Section -->
        <div class="form-title">
            <img src="assets\images\icons\skill.svg">
            Skills
        </div>
        <div *ngFor="let skill of employeeData.skillDetails" class="form-section-with-bg">
            <div class="row g-3">
                <div class="col-md-3">
                    <label class="form-label">Skill / Software Name *</label>
                    <div class="form-label-readonly bg-white">{{skill.skillName}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Software Version</label>
                    <div class="form-label-readonly bg-white">{{skill.softwareVerson}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Last Used</label>
                    <div class="form-label-readonly bg-white">{{skill.lastUsed}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Experience</label>
                    <div class="form-label-readonly bg-white">{{skill.experienceYear + '.' + skill.experienceMonth + ' Yr'}}</div>
                </div>
            </div>
        </div>
       
        <!-- Address Details -->
        <div class="form-title">
            <img src="assets\images\icons\location.svg">
            Address Details
        </div>
        <div class="form-section-without-bg">
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Permanent Address</label>
                    <div class="form-label-readonly">{{employeeData.permanentAddress}}</div>
                </div>
                <div class="col-md-2">
                    <label class="form-label">Pincode</label>
                    <div class="form-label-readonly">{{employeeData.pinCode}}</div>
                </div>
                <div class="col-md-2">
                    <label class="form-label">State</label>
                    <div class="form-label-readonly">
                        <ng-container *ngFor="let state of states">
                            <span *ngIf="state.id === employeeData.stateId">{{ state.name }}</span>
                          </ng-container>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="form-label">District</label>
                    <div class="form-label-readonly"> <ng-container *ngFor="let district of districtsForState">
                        <span *ngIf="district.id === employeeData.districtId">{{ district.name }}</span>
                      </ng-container>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Correspondence Address</label>
                    <div class="form-label-readonly">{{employeeData.correspondenceAddress}}</div>
                </div>
                <div class="col-md-2">
                    <label class="form-label">Pincode</label>
                    <div class="form-label-readonly">{{employeeData.cPinCode}}</div>
                </div>
                <div class="col-md-2">
                    <label class="form-label">State</label>
                    <div class="form-label-readonly"> 
                      <ng-container *ngFor="let state of states">
                        <span *ngIf="state.id === employeeData.cStateId">{{ state.name }}</span>
                      </ng-container>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="form-label">District</label>
                    <div class="form-label-readonly"> 
                      <ng-container *ngFor="let district of districtsForCorrespondenceState">
                        <span *ngIf="district.id === employeeData.cDistrictId">{{ district.name }}</span>
                      </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <!-- Health Details -->
        <div class="form-title">
            <img src="assets\images\icons\health_details.svg">
            Health Details
        </div>
        <div class="form-section-without-bg">
            <div class="row g-3">
                <div class="col-md-3">
                    <label class="form-label">Vision</label>
                    <div class="form-label-readonly">{{employeeData.healthDetails.vision}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Diabetes</label>
                    <div class="form-label-readonly">{{employeeData.healthDetails.diabetes}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Blood Press.(High/Low)</label>
                    <div class="form-label-readonly">{{employeeData.healthDetails.bloodPressure}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Heart Aliments</label>
                    <div class="form-label-readonly">{{employeeData.healthDetails.heartAilments}}</div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-3">
                    <label class="form-label">Other Illness</label>
                    <div class="form-label-readonly">{{employeeData.healthDetails.anyOtherIllnes}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Last Major Illness</label>
                    <div class="form-label-readonly">{{employeeData.healthDetails.lastMajorIllness}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Last Major Illness Date</label>
                    <div class="form-label-readonly">{{employeeData.healthDetails.majoreIllnessDate | date:'dd-MM-yyyy' }}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Blood Group</label>
                    <div class="form-label-readonly">{{employeeData.healthDetails.bloodGroop}}</div>
                </div>
            </div>
        </div>
        <!-- Passport Details -->
        <div *ngIf="employeeData?.passportNo && employeeData?.dateOfIssue && employeeData?.validUpto && employeeData?.issuedBy && employeeData?.passAddress && employeeData?.pCityName && employeeData?.emigrationChecReq">
        <div class="form-title">
            <img src="assets\images\icons\passport.svg">
            Passport Details
        </div>
        <div class="form-section-without-bg">
            <div class="row g-3">
                <div class="col-md-3">
                    <label class="form-label">Passport Number</label>
                    <div class="form-label-readonly">{{employeeData.passportNo}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Issued Date</label>
                    <div class="form-label-readonly">{{employeeData.dateOfIssue | date:'dd-MM-yyyy'}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Valid Upto</label>
                    <div class="form-label-readonly">{{employeeData.validUpto | date:'dd-MM-yyyy'}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Issued By</label>
                    <div class="form-label-readonly">{{employeeData.issuedBy}}</div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Passport Address</label>
                    <div class="form-label-readonly">{{employeeData.passAddress}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">City</label>
                    <div class="form-label-readonly">{{employeeData.pCityName}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Emigration Check</label>
                    <div class="form-label-readonly">{{employeeData.emigrationChecReq}}</div>
                </div>
            </div>
        </div>
        </div>
        <!-- Language Details -->
        <div class="form-title">
            <img src="assets\images\icons\language-details.svg">
            Language Details
        </div>
        <div class="form-section-without-bg">
            <div class="row g-3">
                <table class="table table-bordered table-fixed bordered-table">
                    <thead>
                        <tr>
                            <th>Language</th>
                            <th>Understand</th>
                            <th>Read</th>
                            <th>Write</th>
                            <th>Speak</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let language of employeeData.languageDetails">
                        <tr>
                            <td>{{language.languageName}}</td>
                            <td>
                                <img *ngIf="language.understand" src="assets/images/icons/check.svg" />
                                <img *ngIf="!language.understand" src="assets/images/icons/close_lang.svg" />
                              </td>
                              <td>
                                <img *ngIf="language.read" src="assets/images/icons/check.svg" />
                                <img *ngIf="!language.read" src="assets/images/icons/close_lang.svg" />
                              </td>
                              <td>
                                <img *ngIf="language.write" src="assets/images/icons/check.svg" />
                                <img *ngIf="!language.write" src="assets/images/icons/close_lang.svg" />
                              </td>
                              <td>
                                <img *ngIf="language.speek" src="assets/images/icons/check.svg" />
                                <img *ngIf="!language.speek" src="assets/images/icons/close_lang.svg" />
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Qualification Details -->
        <div class="form-title">
            <img src="assets\images\icons\dualification-details.svg">
            Qualification Details
        </div>
        <div *ngFor="let qualification of employeeData.qualificationDetails" class="form-section-with-bg">
            <div class="row g-3">
                <div class="col-md-9">
                    <div class="row g-3">
                        <div class="col-md-6  mt-2">
                            <label class="form-label">Qualification</label>
                            <div class="form-label-readonly bg-white"> 
                                {{ qualification.orderNo === 3 ? 'Graduation' : qualification.orderNo === 4 ? 'Post Graduation' : qualification.orderNo === 5 ? 'Others' : 'Unknown' }}
                            </div>
                        </div>
                        <div class="col-md-6  mt-2">
                            <label class="form-label">Degree</label>
                            <div class="form-label-readonly bg-white">{{qualification.degreeName}}</div>
                        </div>
                        <div class="col-md-6 mt-0">
                            <label class="form-label">Specialization</label>
                            <div class="form-label-readonly bg-white">{{qualification.specialization}}</div>
                        </div>
                        <div class="col-md-6 mt-0">
                            <label class="form-label">Passing Year</label>
                            <div class="form-label-readonly bg-white">{{qualification.passingYear}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <embed class="img-fluid" [src]="getSafeUrl(qualification.imageFile)" type="application/pdf" width="100%" height="200px">
                </div>
            </div>
        </div>
        <!-- Experience Details -->
        <div class="form-title">
            <img src="assets\images\icons\experience-details.svg">
            Experience Details
        </div>
        <div *ngFor="let experience of employeeData.experienceDetails" class="form-section-with-bg">
            <div class="row g-3">
                <div class="col-md-3">
                    <label class="form-label">Company Name</label>
                    <div class="form-label-readonly bg-white">{{experience.companyName}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Position</label>
                    <div class="form-label-readonly bg-white">{{experience.position}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Starting Date</label>
                    <div class="form-label-readonly bg-white">{{experience.startDate | date:'dd-MM-yyyy'}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Leaving Date</label>
                    <div class="form-label-readonly bg-white">{{experience.endDate | date:'dd-MM-yyyy'}}</div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-4">
                    <label class="form-label">HOD Name</label>
                    <div class="form-label-readonly bg-white">{{experience.hodName || 'NA'}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">HOD Email Address</label>
                    <div class="form-label-readonly bg-white">{{experience.hodEmail || 'NA'}}</div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">HOD Mobile No</label>
                    <div class="form-label-readonly bg-white">{{experience.hodMobile || 'NA'}}</div>
                </div>
            </div>
        </div>
        <!-- Social Details -->
        <div class="form-title">
            <img src="assets\images\icons\social-details.svg">
            Social Details
        </div>
        <div class="form-section-with-bg">
            <div class="row g-3">
                <div class="col-md-3">
                    <label class="form-label">Facebook ID</label>
                    <div class="form-label-readonly bg-white">{{employeeData.facebookId}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">LinkedIn ID</label>
                    <div class="form-label-readonly bg-white">{{employeeData.linkdinId}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Instagram ID</label>
                    <div class="form-label-readonly bg-white">{{employeeData.instagramId}}</div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Twitter ID</label>
                    <div class="form-label-readonly bg-white">{{employeeData.twiterId}}</div>
                </div>
                <div class="col-md-12">
                    <label class="form-label">Resume File</label>
                    <div class="bg-white text-center">
                        <embed
                        [src]="getSafeResumeUrl(employeeData.resumeFilePath)"
                        type="application/pdf"
                        width="100%"
                        height="400px"
                    />
                        <!-- <iframe
                            [src]="getSafeResumeUrl(employeeData.resumeFilePath)"
                            title="Resume Viewer"
                            frameborder="0"
                            allowfullscreen
                            width="100%"
                            height="400px"
                        ></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-12 mt-3 text-center">
              <button type="button" class="submit_btn" (click)="navigateToHome()">Go To Home</button>
            </div>
        </div>
    </div>
        <!-- </form> -->
</div>
</section>
<!-- </body> -->
