<div class="mt-4">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb" class="d-flex justify-content-between align-items-center breadcrumb-bar">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin">{{groupname}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Employee List</li>
    </ol>
    <button class="btn btn-primary ms-2" [routerLink]="'/admin/add-vacancy'">Add Vacancy</button>
  </nav>


  <!-- Form -->
  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Left Column -->
        <div class="col-md-4">
          <div class="form-group mb-3">
            <label for="groupDivision" class="form-label">Group Division</label>
            <select class="form-select"
                    [(ngModel)]="formData.groupDivision"
                    name="groupDivision"
                    required>
              <option value="" selected disabled>Select Group Division</option>
              <option *ngFor="let item of GroupDivisionList" [value]="item.divisionId">{{ item.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select"
                    [(ngModel)]="formData.status"
                    name="status"
                    required>
              <option value="" selected disabled>Select Status</option>
              <!--<option *ngFor="let item of StatusList" [value]="item.id">{{ item.name }}</option>-->
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <input type="text"
                 class="form-control"
                 placeholder="Search Post..."
                 [(ngModel)]="formData.searchQuery"
                 name="searchQuery"
                 aria-label="Search" />
        </div>
      </div>
      <div class="row">
        <div class="search-bar d-flex justify-content-between">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary ms-2" type="submit">View</button>
          </div>

        </div>
      </div>
    </form>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Position</th>
                <th>Group Division</th>
                <th>Project Name</th>
                <th>Experience</th>
                <th>Qualification</th>
                <th>Key Skill</th>
                <th>Expiry Date</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of paginatedApplicantList; let i = index">
                <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                <td [title]="'Posted by '+item.name"><a (click)="openModal(item.vacancyId)" style="color: rgb(13 110 253);cursor: pointer;">{{item.designationName}}</a></td>
                <td>{{item.groupName}}</td>
                <td>{{item.projectName}}</td>
                <td>{{item.experienceFrom}}-{{item.experienceTo}}</td>
                <td>{{item.qualification}}</td>
                <td>{{item.keySkills}}</td>
                <td>{{item.todate | date:'dd/MM/yyyy'}}</td>
                <td style="cursor:pointer">{{item.status}}</td>
                <td><a class="btn p-0 fs-4" routerLink="/admin/add-vacancy/{{item.vacancyId}}"><i class="entypo entypo-pencil"></i></a></td>
              </tr>
            </tbody>
          </table>
          </div>
          <app-pagination [currentPage]="currentPage"
                          [itemsPerPage]="itemsPerPage"
                          [totalItems]="totalItems"
                          [totalPages]="totalPages"
                          (pageChanged)="onPageChange($event)"
                          (pagesizeChanged)="onPagesizeChange($event)">
          </app-pagination>
        </div>
      </div>
  </div>
</div>

<div class="modal" #detailmodal id="detailmodal" tabindex="-1" aria-labelledby="patternModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">Vacancy Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-4">
        <div class="row" style="line-height: 20px;">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="Position" class="form-label">Position :</label>
              <label class="form-label fw-normal">{{jobdetail.designationName}}</label>
            </div>
            <div class="form-group mb-3">
              <label for="ProjectName" class="form-label">Project Name :</label>
              <label class="form-label fw-normal">{{jobdetail.projectName}}</label>
            </div>
            <div class="form-group mb-3">
              <label for="Qualification" class="form-label">Qualification :</label>
              <label class="form-label fw-normal">{{jobdetail.qualification}}</label>
            </div>
            <div class="form-group mb-3">
              <label for="Status" class="form-label">Location :</label>
              <label class="form-label fw-normal">{{ locationList }}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="Experience" class="form-label">Experience :</label>
              <label class="form-label fw-normal">{{jobdetail.experienceFrom}}-{{jobdetail.experienceTo}}</label>
            </div>

            <div class="form-group mb-3">
              <label for="Status" class="form-label">Status :</label>
              <label class="form-label fw-normal">{{jobdetail.status}}</label>
            </div>
            <div class="form-group mb-3">
              <label for="ExpiryDate" class="form-label">Expiry Date :</label>
              <label class="form-label fw-normal">{{jobdetail.todate | date:'dd/MM/yyyy'}}</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group mb-3" style="align-items: baseline;">
              <label for="KeySkill" class="form-label">Key Skill :</label>
              <label class="form-label fw-normal">{{jobdetail.keySkills}}</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group mb-3" style="align-items: baseline;">
              <label for="JobDescription" class="form-label">JobDescription :</label>
              <p class="form-label fw-normal" [innerHTML]="jobdetail.jobDescription"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--<div class="modal fade in" #detailmodal id="detailmodal" tabindex="-1" aria-labelledby="patternModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Modal Content is Responsive</h4>
      </div> <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="field-1" class="control-label">Name</label>
              <input type="text" class="form-control" id="field-1" placeholder="John">
            </div>
          </div> <div class="col-md-6">
            <div class="form-group">
              <label for="field-2" class="control-label">Surname</label>
              <input type="text" class="form-control" id="field-2" placeholder="Doe">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="field-3" class="control-label">Address</label>
              <input type="text" class="form-control" id="field-3" placeholder="Address">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="field-4" class="control-label">City</label>
              <input type="text" class="form-control" id="field-4" placeholder="Boston">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="field-5" class="control-label">Country</label>
              <input type="text" class="form-control" id="field-5" placeholder="United States">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="field-6" class="control-label">Zip</label>
              <input type="text" class="form-control" id="field-6" placeholder="123456">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group no-margin">
              <label for="field-7" class="control-label">Personal Info</label>
              <textarea class="form-control autogrow" id="field-7" placeholder="Write something about yourself" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 31px;"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info">Save changes</button>
      </div>
    </div>
  </div>
</div>-->
