<section class="bg-blue">
  <div class="container">
    <div class="row">
      <div class="add-a-job-box">
        <h2 class="text-center">Terms And Conditions</h2><hr />
        <div id="termsText" class="mt-3">
          <p>
            I, <span>{{ fullName }}</span> S/O <span>{{ fatherName }}</span> hereby voluntarily provide the authentic copy of my Aadhar card to M/S Data Ingenious Global Limited
            for employee provident fund registration purposes, as it is mandatory to link Aadhar with the EPF account.
            I will not hold the company responsible for my Aadhar card details being leaked to a third party, as this information is already available to other agencies as well.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
