<header class="header-bg">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark p-0" style="background-color: #151c48;">
        <div class="container">
            <!-- Brand -->
          <a class="navbar-brand" href="index.html">
            <img src="assets/images/data-logo.svg" class="img-fluid" alt="Data Group" style="width:100px">
          </a>

            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="btn btn-outline-light add-job-btn" routerLink="/JobApply">Apply for a Job</a>
                  </li>
                    
                </ul>
               
            </div>
        </div>
    </nav>
</header>
