<section class="bg-blue">
  <div class="container">
    <div class="row">
      <div class="add-a-job-box">
        <h2 class="text-center">Signup with Whatsapp</h2>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="mb-3 row">
            <div class="col-sm-12">
              <input type="tel"
                     class="form-control"
                     id="inputWhatsappNumber"
                     formControlName="whatsappNumber"
                     placeholder="Enter your Whatsapp Number"
                     maxlength="10" />
              <div *ngIf="whatsappNumber?.invalid && (whatsappNumber?.dirty || whatsappNumber?.touched)" style="color: red;">
                Please enter a valid 10-digit mobile number.
              </div>
            </div>
          </div>

          <div class="mb-3 row">
              <app-math-captcha (captchaValid)="onCaptchaValidation($event)"></app-math-captcha>
          </div>
          <p class="Error">{{ errorMessage }}</p>
          <div class="mb-3 row">
            <div class="col-sm-12 text-center">
              <button type="submit" class="submit_btn" [disabled]="signupForm.invalid || !captchaIsValid">
                Send OTP
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
