  <div class="sidebar-menu-inner">
    <header class="logo-env">
      <!-- logo -->
      <div class="logo">
        <a href="#">
          <img src="assets/images/data-logo.svg" width="100" alt="">
        </a>
      </div>
      <!-- logo collapse icon -->
      <div class="sidebar-collapse">
        <a href="#" class="sidebar-collapse-icon">
          <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
          <i class="entypo-menu"></i>
        </a>
      </div>
      <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
      <div class="sidebar-mobile-menu visible-xs">
        <a href="#" class="with-animation">
          <!-- add class "with-animation" to support animation -->
          <i class="entypo-menu"></i>
        </a>
      </div>
    </header>
    <ul id="main-menu" class="main-menu" style="">
      <li class="root-level">
        <a href="/admin">
          <i class="entypo-gauge"></i>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li class="root-level">
        <a href="/admin/applicant-list">
          <i class="entypo-layout"></i>
          <span class="title">Report/Applicant List</span>
        </a>
        <!--<ul class="">
          <li>
            <a href="/admin/applicant-list">
              <span class="title">Both Menus (Right Sidebar)</span>
            </a>
          </li>
          <li class="has-sub opened">
            <a href="#">
              <span class="title">page enter transitions</span>
            </a>
            <ul class="visible">
              <li>
                <a href="#">
                  <span class="title">fade scale</span>
                </a>
              </li>

            </ul>
          </li>
          <li>
            <a href="#">
              <span class="title">boxed layout</span>
            </a>
          </li>
        </ul>-->
      </li>
      <li class="root-level">
        <a href="/admin/add-vacancy">
          <i class="entypo-monitor"></i>
          <span class="title">Add Vacancy</span>
        </a>
      </li>
      <li class="root-level">
        <a href="/admin/verify-employee">
          <i class="entypo-users"></i>
          <span class="title">Verify-Applicant</span>
        </a>
      </li>
    </ul>
  </div>
