.dropdown-toggle::after {
  margin-left: 12.255em;  
}
.dropdown-menu {
  min-width: 100%;
  position: relative !important; 
  transform: translate3d(0px, 0px, 0px) !important; 
}
@media (max-width: 768px) {
  .dropdown-toggle::after {
    margin-left: 18.255em;
  }
}
